@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<style type="text/css">
    a {
        color: orange;
    }
    div {
        text-align:center;
    }
</style>
<div><ul>
<li><a href="mailto:roryromanovich@gmail.com">Contact Me</a></li><br />
<li><a href="https://www.stclaircollege.ca/">St.Clair College</a></li><br />
</ul>
<img src="pic2.jpg" alt="Choppers" width="400px" height="auto"/>
</div>
